
<div class="border-top mt-3 pb-2 bg-white">
    <div class="text-center text-opacity-50 pt-3">
        Coded with <i class="fas fa-cheese"></i> deployed with <i class="fas fa-ghost"></i>
    </div>

    <div class="text-center pt-2">
        {{ghost_foot}}
    </div>
</div>