<!doctype html>
<html lang="{{@site.locale}}">

    <head>
        {{!-- SCRIPTS AND CSS --}} 
        {{> "head"}}
    </head>
    
    <body data-theme="light" class="line-numbers">

             {{"navigation"}}

        <div class="container">      
            {{{body}}}
        </div>
        
        {{> "footer"}}
        {{> "scripts"}}
   </body>
</html>