<!doctype html>
<html lang="{{@site.locale}}">

    <head>
        {{!-- SCRIPTS AND CSS --}} 
        {{> "head"}}
    </head>
    
    <body data-theme="light" class="line-numbers">
        
        <div class="container-md">
            {{{body}}}
        </div>
        {{> "footer"}}
        {{> "scripts"}}
   </body>
</html>