{{!< default}}

{{!-- Everything inside the #post tags pulls data from the PAGE --}}
{{#post}}

<div class="card mt-4">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-10 text-break mt-2"><h1 class="card-title">{{title}}</h1></div>
                </div>
                <div class="content row mt-4 pb-3 justify-content-start">
                    {{content}}
                </div>              
            </div>
  </div>

{{/post}}