/*Ghost Styles*/

.kg-file-card-icon svg{
    color: var(--color-bw);
}

.kg-width-full img {
    width: 100%;
}

.kg-width-wide{
  width: 100%;
}

/***** Gallery Styling ********/

.kg-gallery-card {
  max-width: 64em !important;
  width: calc( 100vw - 16em );
  margin: 2vw 0 calc( 2em + 2vw);
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}


/***** Bookmark Styling ********/

.kg-bookmark-card {
    width: 100%;
    margin: 0 0 2em;
  }

  .kg-bookmark-container {
    display: flex;
    text-decoration: none;
    margin-top: 15px;
    min-height: 10em;
    border: 1px;
    overflow: hidden;
  }

  .kg-bookmark-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: start;
    padding: 1.5em;
  }

  .kg-bookmark-title {
    font-size: 1rem;
    line-height: 2em;
    font-weight: 700;
  }

  .kg-bookmark-description {
    display: -webkit-box;
    font-size: 0.9rem;
    line-height: 1.66666em;
    font-weight: 400;
    margin: 0.5em 0 1em;
    max-height: 3.33333em;
    overflow-y: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
  }

  .kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
  }

  .kg-bookmark-metadata {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1.66666em;
    font-weight: 400;
    margin-top: 1em;
    flex-wrap: wrap;
  }

  .kg-bookmark-icon {
    width: 1.33333em;
    height: 1.33333em;
    margin: 0 0.75em 0 0;
  }

  .kg-bookmark-author:after {
    content: "•";
    margin: 0 0.33333em;
  }

  .kg-bookmark-publisher {
    display: none;
  }
